html {
    /*Variables en CSS*/
    /*

    Para definir una variable necesitamos colocar "--" antes del nombre de la variable

    */
    /* Paleta de colores */
    --bg-color: #FBFBFB;
    --primary-color: #D4EBF5;
    --hg-color: #77A4F8;
    --secondary-color: #D7D0F9;
    background-color: var(--bg-color);
    color: var(--hg-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    margin: 0;
}

body{
    align-items: center;
    justify-content: center;
}

div.container{
    background-color: var(--primary-color);
    align-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 2rem;
}

div.container#cards{
    background-color: var(--secondary-color);
    align-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 5rem;
}

div.card{
    width: 18rem;
    height: 22rem;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
}

img.card-img-top{
    width: 18rem;
}

h1{
    color: var(--secondary-color);
    text-align: center;
    font-size: 35px;
}

h2{
    text-align: center;
    font-size: 20px;
    color: purple;
}

h3{
    text-align: center;
    color: palevioletred;
    font-size: 20px;
}

h5.card-title{
    color: var(--hg-color);
}

p.paragraph{
    text-align: center;
}

div.container-fluid#navDiv{
    background-color: var(--hg-color);
}

div.container-fluid#navDiv a{
    color: aliceblue;
}

div.card#sloth{
    width: 18rem;
    height: 28rem;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
}